<!DOCTYPE html>
<html>
<head>
  <title>Lung Health Detection</title>
    <style>
    .form-container {
      margin: 0 auto;
      width: 50%;
    }
        body {
      background-color: lightblue;
    }
    </style>
</head>
<body>
<h1>Please fill following details to Check your Lung health</h1>
<div class="form-container">
  <form method="POST" action="{{ url_for('process_data') }}">
    <label for="Age">Age:</label>
    <input type="number" id="Age" name="Age" min="1" max="120" step="1" value="1">
    <br><br>
    <label for="Gender">Gender:</label>
    <input type="number" id="Gender" name="Gender" min="1" max="2" step="1" value="1">
    <br><br>
    <label for="Air_Pollution">Air_Pollution:</label>
    <input type="number" id="Air_Pollution" name="Air_Pollution" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Alcohol_use">Alcohol_use:</label>
    <input type="number" id="Alcohol_use" name="Alcohol_use" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Dust_Allergy">Dust_Allergy:</label>
    <input type="number" id="Dust_Allergy" name="Dust_Allergy" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="OccuPational_Hazards">OccuPational_Hazards:</label>
    <input type="number" id="OccuPational_Hazards" name="OccuPational_Hazards" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Genetic_Risk">Genetic_Risk:</label>
    <input type="number" id="Genetic_Risk" name="Genetic_Risk" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="chronic_Lung_Disease">chronic_Lung_Disease:</label>
    <input type="number" id="chronic_Lung_Disease" name="chronic_Lung_Disease" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Balanced_Diet">Balanced_Diet:</label>
    <input type="number" id="Balanced_Diet" name="Balanced_Diet" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Obesity">Obesity:</label>
    <input type="number" id="Obesity" name="Obesity" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Smoking">Smoking:</label>
    <input type="number" id="Smoking" name="Smoking" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Passive_Smoker">Passive_Smoker:</label>
    <input type="number" id="Passive_Smoker" name="Passive_Smoker" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Chest_Pain">Chest_Pain:</label>
    <input type="number" id="Chest_Pain" name="Chest_Pain" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Coughing_of_Blood">Coughing_of_Blood:</label>
    <input type="number" id="Coughing_of_Blood" name="Coughing_of_Blood" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Fatigue">Fatigue:</label>
    <input type="number" id="Fatigue" name="Fatigue" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Weight_Loss">Weight_Loss:</label>
    <input type="number" id="Weight_Loss" name="Weight_Loss" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Shortness_of_Breath">Shortness_of_Breath:</label>
    <input type="number" id="Shortness_of_Breath" name="Shortness_of_Breath" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Wheezing">Wheezing:</label>
    <input type="number" id="Wheezing" name="Wheezing" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Swallowing_Difficulty">Swallowing_Difficulty:</label>
    <input type="number" id="Swallowing_Difficulty" name="Swallowing_Difficulty" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Clubbing_of_Finger_Nails">Clubbing_of_Finger_Nails:</label>
    <input type="number" id="Clubbing_of_Finger_Nails" name="Clubbing_of_Finger_Nails" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Frequent_Cold">Frequent_Cold:</label>
    <input type="number" id="Frequent_Cold" name="Frequent_Cold" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Dry_Cough">Dry_Cough:</label>
    <input type="number" id="Dry_Cough" name="Dry_Cough" min="1" max="10" step="1" value="1">
    <br><br>
    <label for="Snoring">Snoring:</label>
    <input type="number" id="Snoring" name="Snoring" min="1" max="10" step="1" value="1">
    <br><br>
    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>